<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Koiranvaatekauppa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h2>Tervetuloa Koiranvaatekauppaan!</h2>
    <form action="/tuotelista" method="get">
      <button type="submit">Tuotelista</button>
    </form>
    <form action="/valmistajalista" method="get">
      <button type="submit">Valmistajalista</button>
    </form>
    <a href="http://localhost:8080/login">
		<button>Kirjaudu sisään</button>
	</a>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Kirjaudu ulos" />
	</form>
  </body>
</html>
