<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Koiranvaatekauppa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Tuotelista</h2>

	<form action="/lisaa" method="get">
	<button type="submit">Lisää tuote</button>
	</form>
	
	<form action="/valmistajalista" method="get">
    <button type="submit">Tarkastele valmistajia</button>
    </form>
	

	<table>
		<tr>
			<th>Tyyppi</th>
			<th>Väri</th>
			<th>Koko</th>
			<th>Hinta</th>
			<th>Valmistaja</th>
		</tr>

		<tr th:each="tuote : ${tuotteet}">
			<td th:text="${tuote.tyyppi}"></td>
			<td th:text="${tuote.vari}"></td>
			<td th:text="${tuote.koko}"></td>
			<td th:text="${tuote.hinta}+€"></td>
			<td
				th:text="${tuote.valmistaja != null ? tuote.valmistaja.nimi : 'N/A'}"></td>
			<td><a th:href="@{/muokkaa/{id}(id=${tuote.id})}">Muokkaa</a></td>

			<td><a th:href="@{/delete/{id}(id=${tuote.id})}">Poista</a></td>
		</tr>
	</table>
</body>
</html>
